<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Profil för {{name}}</h1>
	<p>Samhällsklass: {{class}}</p>
	<p>Ålder: {{age}}</p>
	<p>Kön: {{gender}}</p>
	<p>Pronomen: {{pronouns}}</p>
	<p>Yrke: {{occupation}}</p>
</body>
</html>